
/bin
/config/*
!/config/
!/config/routes.rb
/db/*
!/db/
!/db/migrate/
!/db/migrate/*
/lib
/log
/public
/script
/storage
/test
/tmp
/vendor
config.ru
Gemfile
Gemfile.lock
package.json
Rakefile
README.md
/node_modules
/package-lock.json
*.sqlite3

