<div align="center">
<h1>Bienvenue sur tout autrement !</h1>
<span style="color:red;"><strong>my Ruby on Rails prototype website is now live</strong></span>
<div class="container">
<div class= "welcome-form">
    <div class="form-actions">
    <%= link_to "Gérer ma cave", "/wines", class: "btn btn-primary" %>
    </div>
    <div class="form-actions">
    <%= link_to "En chantier", "", class: "btn btn-primary" %>
    </div>
    <div class="form-actions">
    <div class="btn btn-primary">
    <a href="http://www.newoueb.com/tat/blog/">Le blog de maryse</a>
    </div>
    </div>
    <div class="form-actions">
    <div class="btn btn-primary">
    <a href="http://www.newoueb.com/jdb/blog/">Le blog de jacques</a>
    </div>
    </div>
</div>
</div>
<div class="btn-bott">
<div class="btn-admin">
&nbsp;&nbsp;<%= link_to "admin", "/admin" %>&nbsp;&nbsp;
</div>
<br>
</div>
</div>

