<div class="form-actions">
  <%= link_to "Retour", "/wines", class: "btn btn-primary" %>
</div>
<div align="center">
  <% if @lines.present? %>
    <% @lines.each do |line| %>
      <%= line %><br>
    <% end %>
  <% else %>
    No data available
  <% end %>
</div>